<div>
  Number of Transactions: <%= @num_trans %>
</div>

<div>
  Fee: <%= @fee %>
</div>

<div>
  Total you entered: <%= @receipt_total %>
</div>

<div>
  <table class="table table-striped">
    <tr>
      <th>Description</th>
      <th>Amount</th>
    </tr>
    <% @receipt["Line"].each do |l| %>
      <tr>
        <td><%= l["Description"] %></td>
        <td><%= l["Amount"] %></td>
      </tr>
    <% end %>
    <tr>
      <td>
        Transactions total:
      </td>
      <td>
        <%= @calculated_total %>
      </td>
    </tr>
  </table>
</div>

<form method="post" action="send_to_quickbooks">
  <input type="submit" class="btn btn-success" value="Send to Quickbooks">
</form>
<form method="get" action="skip_receipt">
  <input type="submit" class="btn btn-danger" value="skip this one">
</form>
<form method="get" action="try_again">
  <input type="submit" class="btn btn-default" value="do over">
</form>
