
<div>Enter the deposit info from the statement</div>
<form method="POST" action = "create_receipt">
  <div>
    Transaction Date: <br />
    <input type="text" name = "trans_date"> (format: yyyy-mm-dd)
  </div>
  <div>
    # Transactions:<br />
    <input type="text" name="num_transactions">
  </div>
  <div>
    Fee amount:<br />
    <input type="text" name="fee_amount">
  </div>
    Transaction total:<br />
    <input type="text" name="receipt_total">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>

<div>
  <p>The default item for this receipt will be: <%= @default_item["Name"] %></p>
  <p>Fees will be marked to item:  <%= @fee_item["Name"] %></p>
  <p>Default customer:  <%= @customer["FullyQualifiedName"] %></p>
  <p>Default class: <%= @class["QueryResponse"]["Class"][0]["Name"] %></p>
  <p>CSV data source:  <%= session[:file] %></p>
  <p><%= session[:position] %> lines have been processed so far</p>
</div>
<div><%= session.to_s %></div>
