<h2>Credit Card Report for: <%= @data["TxnDate"] %></h2>

<div>
  <table class="table table-striped">
    <tr>
      <th>Employee</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Account</th>
      <th>Class</th>
    </tr>
  <% @data["Line"].each do |l| %>
      <tr>
        <td><%= %></td>
        <td><%= l["Description"] %></td>
        <td><%= l["Amount"] %></td>
        <td><%= l["AccountBasedExpenseLineDetail"]["AccountRef"]["name"] %></td>
        <td><%= l["AccountBasedExpenseLineDetail"]["ClassRef"]["name"] %></td>
      </tr>
  <% end %>
      <tr>
        <td></td>
        <td></td>
        <td><strong>Total: </strong><%= @data["TotalAmt"] %></td>
        <td></td>
        <td></td>
  </table>
</div>

<div>
  <form method="post" action="send_cc_to_quickbooks">
    <button type="submit" class="btn btn-success">Send to Quickbooks</button>
  </form>
</div>
